<!DOCTYPE html>
<html lang="en">
<head>
  <img src ="C:\Udacity Front End Web Developer\saving.jpg" alt="Savings" width=100px height=100px style="vertical-align:middle">
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
  <title>"Ways to save Money Everyday"</title>


<style>
          
.item1 { grid-area: header; }
.item2 { grid-area:Purchase;}
.item3 { grid-area:Savings_Account; }
.item4 { grid-area:Divident_paying_stocks; }
.item5 { grid-area:Cutting_Expense; }
.item6 { grid-area:Own_house; }
.item7 { grid-area:Sell_your_home_without_Realtor; }
.item8 { grid-area:Saving_on_insurance; }
.item9{ grid-area:Save_our_planet; }
 
.grid-container {
     display: grid;
     grid-template-areas:
     'header header header header'
     'Purchase Savings_Account Divident_paying_stocks Cutting_Expense'
     'Own_house Sell_your_home_without_Realtor  Saving_on_insurance   Save_our_planet';
      grid-gap: 50px;
      background-color:blue;
      padding: 5px;
      width:auto;
}
@media(min-width:900px){
.grid-container > div {
  
      text-align: center;
      padding: 5px 0;
      font-size: 30px;
      align-items: center;
      background-color:deeppink;
      width:auto;
  }}
.footer{
      display:flex;
      flex-direction: row;
      font-size: 15px;
      justify-content:center;
 }
.contacts,
.faq,
.twitter,
.linkdin{
        width:auto;
        height:auto;
        border:blue;
}
.item3{
  background-image: url("C:\\Udacity Front End Web Developer\\savings_account.jpg");
}
.item2{
  background-image:url("C:\\Udacity Front End Web Developer\\purchase.png");
}
</style>
</head>
</html>